/* universal */

*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;

}

/* body */

body{
    background-color: #fdeef1; ;
}

/* header */

.shop-title{
    font-size: 125px;
    margin-bottom: 60px;
}

header{
    background-color: #272727;
    background-image: url('images/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: right 220px bottom ;
    padding: 30px 400px 145px 40px;
    margin-bottom: 20px;


}

.header-items{
    max-width: 708px;
    margin-left: 130px;
}

.header-title{
    font-size: 80px;
    font-weight: 700;
    color: #d9d6d7;
    margin-bottom: 35px;
}
.header-text{
    font-size: 18px;
    line-height: 30px;
    color: #d9d6d7;
    font-weight:600 ;
    margin-bottom: 28px;
}

.shop-now-button{
    background-color: #e55473 ;
    font-size: 20px ;
    font-weight: 500 ;

    color: white;
    border-radius: 8px;
    border: 0px;
    padding: 19px 40px;
}

.shop-now-button:hover{
    background-color: #de1e4b ;
   
}

/* main  */


/* featured flowers section  */

.featured-flowers-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.featured-flower-text{
    margin-bottom: 50px;
}

.featured-title{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
    margin-bottom: 23px;
}

.featured-text{
    font-size: 18px;
    color: #7c7677;
    text-align: center;
}

.featured-flowers-card-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

.featured-flower-card{
    /* width: 500px; */
    text-align: center;
    text-decoration: underline;
}

.featured-flower-image1{
    background-color: #f2deeb;
    border-radius: 230px 230px 0px 0px;
    padding: 113px 78px 0px 78px;
    margin-bottom: 25px;

}

.featured-flower-image2{
    background-color: #daf0f1;
    border-radius: 230px 230px 0px 0px;
    padding: 100px 48px 70px 48px;
    margin-bottom: 25px;


}

.featured-flower-image3{
    background-color: #e4ecdc;
    border-radius: 230px 230px 0px 0px;
    padding: 70px 78px 0px 78px;
    margin-bottom: 25px;

}

.featured-flower-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    
}

/* delivery section  */

.delivery-section{
    background-color: #dfdddd;
    display: flex;
    flex-direction: row;
    padding: 75px 100px;
    justify-content: space-around;
    margin: 100px 209px;
    
    
}

.delivery-card{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    

}

.delivery-image{
    max-width: 88px;
    margin-bottom: 27px;
}

.delivery-text{
    font-size: 24px;
    font-weight: 600;
    color: #7c7677;
}

/* sale section  */

.sale-section{
    background-color: #e4ecdc;
    background-image: url('images/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: right 400px bottom 75px;
    padding: 200px 0 160px 360px;
    display: flex;

    
    
}

.sale-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

.sale-title{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 18px;
}

.sale-text{
    font-size: 18px;
    line-height: 30px;
    color: #7c7677;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;

    
}

.sign-up-button{
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #e55473;
    padding: 20px 45px;
    border-radius: 8px;
    border: 0px;

}

.sign-up-button:hover{
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #de1e4b;
    padding: 20px 45px;
    border-radius: 8px;
    border: 0px;

}

.red-off{
    color: #e55473;
    

}

/* Instagram section  */

.insta-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
}

.insta-title{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 18px;
}

.insta-text{
    font-size: 18px;
    color: #7c7677;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
}

.insta-image-container{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.insta-image{
    width: 342px;
}


/* Latest deals section  */

.latest-deals-section{
    margin-top: 130px;
    background-image: url('images/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;    
    padding-bottom: 140px;
    margin-bottom: 100px;
    border-radius: 8px;
    border: 0px;
    
}

.latest-deals-title{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 15px;
}

.latest-deals-text{
    font-size: 18px;
    color: #7c7677;
    line-height: 30px;
    margin-bottom: 34px;

}

.email-and-subscribe{
    display: flex;
    column-gap: 18px;
}

.email-input{
    font-size: 18px;
    color: #7c7677;
    padding: 20px 15px 20px 15px;
    border-radius: 8px;
    border: 0px;
    width: 650px;
    
}

.subscribe-button{
    background-color: #e55473;
    font-size:20px ;
    font-weight: 500px;
    padding: 18px 40px;
    color: white;
    border-radius: 8px;
    border: 0px;
}

.subscribe-button:hover{
    background-color: #de1e4b;
    font-size:20px ;
    font-weight: 500px;
    padding: 18px 40px;
    color: white;
    border-radius: 8px;
    border: 0px;
}


/* footer  */

footer{
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0;
}

.footer-title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}

.footer-title-span1{
    color: #e55473;

}

.footer-title-span2{
    color: white;
}

.footer-text{
    font-size: 18px;
    line-height: 30px;
    color: rgb(191, 191, 191);
    margin-bottom: 30px;
    text-align: center;
}

.footer-copyright{
    color: #7c7677;
    font-size: 16px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 576px) {

    /* header  */

    .shop-title{
        font-size: 50px;
        margin-bottom: 40px;
    }

    header {
        padding: 20px 20px 10px 23px;
        background-position: left 200px bottom ;
        background-size: contain;
        
    }

    .header-items{
        max-width: 708px;
        margin-left: 0px;
    }

    .header-title {
        font-size: 35px;
        max-width: 275px;
        margin-left: 0px;
    }

    .header-title-parent-span{
        display: flex;
        flex-direction: column;
    }

    .header-text{
        display: none;
    }

    .shop-now-button {
        margin: auto;
    
        display: block;
    }

    /* main  */

    main {
        padding: 0px 20px 0px 20px;

    }

    /* featured flower section  */

    .featured-flowers-section{
        margin-top: 0px;
    }

    .featured-flower-text{
        margin-bottom: 0px;
        margin-bottom: 30px;
    }

    .featured-title {
        line-height: 50px;
    }

    .featured-flowers-card-container {
        flex-direction: column;
        row-gap: 0px;

    }

    .featured-flower-card > img {
        /* scale: 0.7; */
        border-radius: 230px ;
        margin-bottom: 15px;

    }

    .featured-flower-card  {
        margin-bottom: 35px;
        font-weight: 500;
    }

    .featured-flower-image1{
        width: 180px;
        padding: 60px 65px 0px 65px;
        
    
    }
    
    .featured-flower-image2{
        width: 180px;
        padding: 62px 65px 62px 64px;
       
    
    
    }
    
    .featured-flower-image3{
        width: 180px;
        padding: 36px 65px 0px 64px;
    
    
    }

    /* delivery section  */

    .delivery-section {
        margin: 0px;
        flex-direction: column;
        gap: 40px;
        padding: 45px 40px;
        align-items: flex-start;

    }

    .delivery-card {
       
        flex-direction: row;
        gap: 50px;
        
       
    }

    .delivery-image {
        max-width: 60px;
        margin: auto;
        
    }

    .delivery-text {
        font-size: 17px;
        margin: auto;
        text-align: center;
        
    }

    .d-text3{
        margin-left: 18px;
    }

    /* sale section  */


    .sale-section{

        padding: 20px;
        margin-top: 30px;

    }

    .sale-title{
        font-weight: 800;
        text-align: center;
    }

    /* instagram section  */

    .insta-section {
        margin-top: 20px;
        
    }

    .insta-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .insta-image{
        width: 170px;
        box-shadow: 5px 5px 20px 0px silver;
        
    }

    /* latest deals section  */

    .latest-deals-section {
        
        background-size: contain;
        padding: 0px 20px;
        margin: 50px 0px;
        margin-top: 70px;
        align-items: center;
        justify-content: center;
        background-position: top;

        
    }
    
    .latest-deals-title{
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .latest-deals-text{
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    .email-and-subscribe {
        display: block;
        margin-top: 30px;
        
    }

    .email-input{
        margin: auto;
        align-self: center;
        width: 340px;
        border: 2px solid #e55473;
        margin-bottom: 20px;
    }

    .subscribe-button{
        display: block;
        margin: auto;
        
    }

    /* footer  */

    footer {
        padding: 20px ;

    }


    .footer-title {
        font-size: 34px;
        margin-bottom: 7px;
    }

    .footer-text {
        font-size: 14px;
        margin-bottom: 7px;
        
    }

    .footer-copyright {
        font-size: 13px;
    }



}